<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Agreement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content>
    <meta name="author" content>
    <!-- styles -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style type="text/css">
        body {

        .button {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        }
    </style>
</head>

<body>
<div class="navbar navbar-fixed-top  navbar-inverse">
    <div class="container">
        <div class="navbar-inner">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a href="{% url 'home' %}" class="navbar-brand">Pet Dispense</a>
        </div>
        <div class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<br><br><br>

<div class="container">
    <h2>Agreement Form</h2>

    <form method="POST" action="{% url 'selection' %}" accept-charset="UTF-8">
        <!--{% csrf_token %} <p-->This software is only to be used as a course project in the Spring 2014 offering of
        CS453<br>
        at Western Carolina University. It and any modification of it are not to be used in any other manner.<br>
        This Project is licensed under the <a target="_blank" href="http://www.gnu.org/licenses/gpl-2.0.html">GNU
        General Public License</a>

        <p></p><br>
        <a class="btn btn-success" href="{% url 'selection' %}">Accept</a>
        <a class="btn btn-danger" href="{% url 'home' %}">Decline</a>
    </form>
</div>
<!-- /container -->
<!-- javascript==================================================- ->    <!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>