{% load staticfiles %}
<html>
<head>
{% block stylesheet_rtl %}
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css"/>
{% endblock %}
</head>

<body>
{% block content %}
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/transition.js"></script>
<script type="text/javascript" src="/static/js/alert.js"></script>
<script type="text/javascript" src="/static/js/modal.js"></script>
<script type="text/javascript" src="/static/js/dropdown.js"></script>
<script type="text/javascript" src="/static/js/scrollspy.js"></script>
<script type="text/javascript" src="/static/js/tab.js"></script>
<script type="text/javascript" src="/static/js/tooltip.js"></script>
<script type="text/javascript" src="/static/js/popover.js"></script>
<script type="text/javascript" src="/static/js/button.js"></script>
<script type="text/javascript" src="/static/js/collapse.js"></script>
<script type="text/javascript" src="/static/js/carousel.js"></script>
{% endblock %}
</body>
</html>