{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Agreement</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- styles -->
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
    </head>

    <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">Pet Dispense</a>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">

        <legend>Agreement Form</legend>
        <form method="POST" action="selection.html" accept-charset="UTF-8">
            <p>
                This software is only to be used as a course project in the Spring 2014 offering of CS453 <br> at
                Western Carolina University. It and any modification of it are not to be used in any other manner.<br>
                This Project is licensed under the <a target="_blank" href="http://www.gnu.org/licenses/gpl-2.0.html">GNU
                General Public
                License</a>
            </p>
            <button type="submit" name="submit" class="btn btn-primary btn-block span2">Accept</button>
            <br>
            <button type="submit" name="submit" class="btn btn-primary btn-block span2">Decline</button>
        </form>

    </div>
    <!-- /container -->

    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>

    </body>
    </html>
{% endblock %}
