{% block content %}
    <!doctype html>

    <html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Query</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content>
        <meta name="author" content>
        <!-- styles -->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>

    <body>
    <div class="navbar navbar-fixed-top  navbar-inverse">
        <div class="container">
            <div class="navbar-inner">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand">Pet Dispense</a>
            </div>
            <div class="collapse navbar-collapse  pull-right">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br><br><br>

    <div class="container">
        <div class="form-group">
            <label class="control-label">Search by Animal Name</label>
            <div class="controls">
                <form method="get" action="{% url 'search' %}">
                    <input type="text" name="q" id="id_q" value="{{ query }}"/>
                    <input class="btn btn-primary" type="submit" value="Search"/>
                </form>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Search Owners</label>
            <div class="controls">
                <form method="get" action="{% url 'search' %}">
                    <input type="text" name="q" id="id_q" value="{{ query }}"/>
                    <input class="btn btn-primary" type="submit" value="Search"/>
                </form>
            </div>
        </div>
    </div>
    </body>

    </html>
{% endblock %}