{% extends "base.html" %}
{% block content %}
    <!doctype html>

    <html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Query</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content>
        <meta name="author" content>
        <!-- styles -->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>

    <body>


    <div class="container">
        <div class="form-group">
            <div class="controls">
                <label class="control-label">Search by Animal Name</label>

                <form method="get" action="{% url 'search' %}">
                    <input type="text" name="q" id="id_q" value="{{ query }}"/>
                    <br>
                    <br>
                    <input class="btn btn-primary" type="submit" value="Search"/>
                </form>
            </div>
        </div>
        <a href="{% url 'selection' %}">Or Look at Other Information</a>
    </div>
    </body>

    </html>
{% endblock %}